*{
    box-sizing: border-box;
}


/*Позиционирование*/

body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

/*header*/

.headerContainer {
    display: flex;
    flex-direction: column;
    width: 100vw;
    margin-right: 50px;
}

.topLine {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 38px 120px;
}

.logoName{
    display: flex;
    gap:15px;
}

.nav {
    display: flex;
    justify-content: center;
    gap: 50px;
}

.firstScreen {
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 90vh;
    padding-left: 200px;
}

.textContainer {
    display: flex;
    flex-direction: column;
    width:596px;
    gap:30px;
}

h1 {
    margin-bottom: -20px;
}

.button_start {
    width: 210px;
    height: 65px;
}

.mainContainer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100vw;
    padding:0 60px;
}

.sectionsBoxOne {
    display: flex;
    justify-content: center;
    gap: 105px;
    padding: 0px 0px;
    margin-top: 100px; 
}

.sectionCard {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap; 
    width: 400px;
}

.p_More {
    padding-bottom: 50px; 
}

.pic1 {
    padding-bottom: 100px;
    padding-left: 170px;
}

.middle_More {
    padding-bottom: 100px;
}

.articleOne {
    display: flex;
    justify-content: center;
    width: 70vw;
    min-width: 900px;
    margin-left: 10px;
    margin-right: 40px;
    margin-top: 60px;
    gap: 120px;

}

.articleOne_text {
    display: flex;
    flex-direction: column;
    justify-content: center; 
    align-items: center;
    padding-bottom: 100px;
    padding-left: 150px;  
}

.h2_articleOne {
    padding-right: 70px;
}

.articleNameCity {
    display: flex;
    flex-direction: column;
}

.articleOne_pic {
    display: flex;
    justify-content: center;
    align-items: center;
}

.calling_text {
    display: flex;
    flex-direction: column;
    gap:40px;
}

.calling {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    gap:20px;
    padding-right: 150px;
    margin-bottom: 50px;

}

.p_calling_text, .p_calling{
    margin: -22px 0;
    min-width: 250px;
}

.button_estimate {
    width: 250px;
    height: 71px;

    margin-right: 260px;
}

.sectionsBoxTwo {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 80vw;
    padding-bottom:  80px;
}

.sectionsBoxTwo_text {
    display: flex;
    text-align: center;
    padding-top: 40px;
    padding-bottom: 20px;
}

.articles {
    display: flex;
    justify-content: center;
    width: 86%;
    flex: 1 1 0;
    gap: 18px;
    padding: 20px 55px;
}

.articlePeopleCard {
    display: flex;
    flex-direction: column;
    align-items: center;
    flex: 1;
    max-width: 350px;
}

.articlePeopleTop {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
    padding: 30px 15px 0px 0px;
}

.photoContainer {
    display: flex;
    gap:20px;

}
.p_name{
    margin: 1px 0;

}
.personCity{
    margin: -6px 0;
}

.personInfo{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    gap: 10px;
}

.person_photo {
    width:77px;
    height:77px;
}

.logos {
    display: flex;
    justify-content: space-around;
    width: 70vw;
    padding-top: 100px;
    padding-bottom: 120px;
    margin-left: 100px;
}

.sectionsBoxThree {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100vw;
}

.sectionBoxThreeProjects_text {
    display: flex;
    flex-direction: column;
    text-align: center;
}

.projectCardsContainer {
    display: flex;
    justify-content: center;
    width: 70vw;
}

.projectCardFirstColumn, .projectCardSecondColumn {
    display: flex;
    flex-direction: column;
    gap: 30px;
    padding: 50px 10px 100px;
}

.project_pic {
    width: 32vw;
}

.projectCard {
    display: flex;
    flex-direction: column;
}

.projectCardText {
    display: flex;
    flex-direction: column;
}

.projectTextArrow {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: 10px;
}

button.arrow_button {
    padding-right: 65px;
}

.arrowButtonContainer {
    display: flex;
    height: 70px;
}

.statisticContainer {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 100px;
    margin-top: 60px;
    width: 100vw;
}

.metrics {
    display: flex;
    text-align: center;
    gap: 100px;
    
}

.statistic{
    display: flex;
    flex-direction: column;

}

.vl {
    display: flex;
    height: 185px;
}

.num, .p_statistic, .p_interior, .p_blogDate, .p_design, .p_projectStyle, .p_footer {
    margin: 0;
}

.sectionBoxThreeBlogs_text {
    display: flex;
    flex-direction: column;
    text-align: center;
    flex: 1 1 0;
    margin-bottom: 50px; 
}

.h2_blog {
    margin-bottom: 60px;
    margin-top: 180px;
}

.blogCard {
    display: flex;
    flex-direction: column;

    align-content: center;
}

.blogElementsContainer {
    display: flex;
    flex-direction: column;
}

.blogCardFirstRow, .blogCardSecondRow {
    display: flex;
    justify-content: center;
    width: 70vw;
    min-width: 700px;
    box-sizing: border-box;
    flex-grow: 1;
    gap: 50px;  
    padding-bottom: 60px;
}

.test {
    display: flex;
    padding: 25px 25px 40px 25px;
    gap: 100px;
    border: 1px solid black;
    
}

.blog_pic {
    width: 20vw;
}

.p_interior {
    max-width: 350px;
}

.blogDateArrow{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.box_smallArrow {
    display: flex;
    height: 70px;
}




button.arrow_button_small {
    padding-left: 50px;
}

.join {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 70vw;
    padding-top: 100px;
    padding-bottom: 100px;
    margin-top: 60px;
    margin-bottom: 60px;
}

.button_connect {
    padding: 25px 40px;
    margin-top: 15px;
}

/*Footer*/

.footerContainer {
    display: flex;
    flex-direction: column;
    align-content: space-between ;
    width: 70vw;
    gap: 100px;
    margin-left: 80px;
}

.footerFirstRow {
    display: flex;
    justify-content: space-between;
}

.footerSection {
    display: flex;
    flex-direction: column;
    gap: 20px;
}


.footerSectionName {
    margin: 0;
}

.footerLogoNameText {
    display: flex;
    flex-direction: column;
    gap: 30px;
    padding: 30px 20px;
}

.footerLogoName {
    display: flex;
    align-content: center;
    gap: 10px;
}

.social {
    display: flex;
    gap: 30px;
}

.footerSecondRow{
    display: flex;
    justify-content: center;
    gap: 10px;
    margin-bottom: 36px; 
}

.footerBottomScreen {
    display: flex;
    gap: 10px;
}

/*Типографика*/

/*header*/

.nav {
    white-space: nowrap;
}

.firstScreen {
    white-space: pre-line;
}

.textContainer {
    white-space: pre-line;
}


/*main*/
.sectionCard {
    white-space: pre-line;
    text-align: center;
}

.articleOne {
    white-space: pre-line;
}

.articleOne_text {  
    white-space: pre-line;
}

.sectionsBoxTwo_text {
    white-space: pre-line;
}

.p_opinion {
    white-space: pre-line;
}

.sectionBoxThreeProjects_text {
    white-space: pre-line;
}

.statisticContainer {
    white-space: nowrap;
}

.metrics {
    white-space: nowrap;
}

.statistic{
    white-space: nowrap;
}

.num, .p_statistic, .p_interior, .p_blogDate, .p_design, .p_projectStyle, .p_footer {
    white-space: nowrap;
    white-space: pre-line;
}

.sectionBoxThreeBlogs_text {
    white-space: pre-line;
}

.blogCard {
    white-space: pre-line;
}

.join {
    text-align: center;
}


/*footer*/
.footerSection {
    white-space: pre-line;
}


/*Оформление*/

/*header*/

.topLine {
    background-color: #F5F5F5;
}

.firstScreen {
    background-image: url('../assets/src/img/bgpic.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    border-bottom-left-radius: 290px;
}

/*main*/
.button_start, .button_estimate{
    border-radius: 18px;
    background-color: #292F36;
    color:#FFFFFF;
}

.pic1 {
    border-top-right-radius: 326px;
    border-bottom-left-radius: 220px;
}

.sectionsBoxTwo {
    border-radius: 70px 50px;
    background-color: #F4F0EC;
}

.articlePeopleCard {
    border-radius:30px;
    background-color: #FFFFFF;
}

.person_photo {
    border-radius: 100px;
}

.project_pic {
    border-top-right-radius: 80px;
}

button.arrow_button {
    background: url('../assets/src/img/arrow_button.svg'); 
    background-repeat: no-repeat;
    border: none;
}

.statisticContainer {
    background-color: #F4F0EC;
}

.num{
    color:#CDA274
}

.vl {
    border: 1px solid #CDA274;
}

.blog_pic, .blogCard {
    border-top-left-radius: 45px;
    border-top-right-radius: 45px;
}

.test {
    border: 1px solid #E7E7E7;
    border-radius: 60px;
}


button.arrow_button_small {
    background: url('../assets/src/img/arrow_button_small.svg'); 
    background-repeat: no-repeat;
    border: none;    
}

.blogCard {
    background-color: #FFFFFF;
}



.join {
    border-radius: 70px;
    background-color: #292F36;
    color: #F5F5F5;
}

.button_connect {
    border-radius: 18px;
    background-color: #CDA274;
    color: #FFFFFF;
}

address {
    font-style: normal
}

a {
    text-decoration: none;
    color: #292F36
}

a:hover {
    color: #CDA274;
}


a:focus {
    color: #196642;
}

a {
    color: #292F36; /* Цвет текста */
    -webkit-transition: all 0.5s ease;
            transition: all 0.5s ease; 
}


a:hover{
    color: #CDA274; /* Меняем цвет текста */
}


nav a {
    transition: 0.5s; /* Время эффекта */
    text-align: center; 
}

nav a:hover {
    transform: scale(1.3); /* Увеличиваем масштаб */
}